
// !!Don't localize because child class names are
//   embedded inside the React component code!!
.snapshot_meta_data_progress {
  height: 100px;
  display: flex;               /* establish flex container */
  align-items: center;         /* vertically center flex items */

  .slider_container {
    width: 100%;
    border-radius: 7px;

    .rc-slider {
      height: 25px;
      background-color: transparent;
      z-index: 3;

      padding: 0;
      border-radius: 7px;
      border: solid 1px green;

      .rc-slider-mark {
        background-color: transparent;
        // z-index: auto;
      }

      .rc-slider-step {
        background-color: transparent;
        // z-index: auto;
      }

      .rc-slider-handle {
        margin-top: 5px;
        // visibility: hidden;
      }

      .rc-slider-track {
        height: 100%;
        background-color: green;
      }
    }
  }
}

.rc-slider-tooltip {
  opacity: 0.90;
  z-index: 3;
}
