body {
  padding-top: 24px;
}

#app {
  margin: 10px;
}

// .column {
//   border: solid 2px red;
// }

#app .picture_container {
  overflow: hidden;
  height: 380px;
  width: auto;

  border: 1px solid gray;
  border-radius: 8px;
}

#app .picture_container img {
  opacity: 0.6;
}

.control_index {
  position: absolute;
  top: 6%;
  right: 8%;
  width: auto;
  // width: 100%;

  // Not sure if necessary but conceptually, the controls on a higher z-index
  //   than its target.
  z-index: 2;
}

.control_index button {
  color: red;
  border-radius: 14px;
  // margin-right: 35px;
  float: right;
}

.status_index {
}

.status_index ul {
  padding-left: 5%;
}
